<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="footer-logo">LAVADERO LUXURY</p>
      </div>
      <div class="col-md-3">
        <h5>AYUDA</h5>
        <ul class="list-unstyled">
          <li><a href="#">Centro de ayuda</a></li>
          <li><a href="#">Cómo comprar</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>ACERCA DE</h5>
        <ul class="list-unstyled">
          <li><a href="#">Acerca del lavado</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>CONTACTANOS</h5>
        <p>Teléfono: 3123242314</p>
        <p>Horario: Todos los Dias 8.00 am - 5.00 pm</p>
        <p>Email: Jnandresleal gmail.com</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <p>¿Necesitas lavar tu carro? Regístrate con nosotros</p>
        <form class="d-flex justify-content-center">
          <input
            type="email"
            class="form-control me-2"
            placeholder="Enter your Email"
          />
          <button class="btn btn-dark" [routerLink]="['/registrarse']">
            Regístrate ahora
          </button>
        </form>
      </div>
    </div>
  </div>
</footer>
